@page
@model HotelWeb.Pages.RoomManagement.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    #Maintenance {
        padding: 0 !important;
        border: none !important;
        background: none !important;
        outline: none !important;
        margin: 0 !important;
        color: #BFE330 !important;
        width: 25px !important;
    }

    #Delete {
        padding: 0 !important;
        border: none !important;
        background: none !important;
        outline: none !important;
        margin: 0 !important;
        color: #FF0000 !important;
        width: 25px !important;
    }

    #Edit {
        padding: 0 !important;
        border: none !important;
        background: none !important;
        outline: none !important;
        margin: 0 !important;
        color: #2196F3 !important;
        width: 25px !important;
    }
</style>
<div class="container-fluid">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row mb-3">
                    <div id="header-title" class="col-sm-5">
                        <h2>User <b>Room</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <form method="post" asp-page-handler="Search">
                            <div class=" row">
                                <div class="col-sm-9">
                                    <input type="text" class="form-control " id="searchBox" asp-for="SearchString" />
                                </div>
                                <div class="col-sm-3 mt-1">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-3">
                        <button id="myBtn" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Add New Room</span></button>
                    </div>
                </div>

                @if (Model.RoomList.Count != 0)
                {
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomList[0].Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomList[0].Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomList[0].Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomList[0].Amount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomList[0].RoomType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomList[0].Active)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.RoomList)
                            {

                                <tr>
                                    <td>
                                        <img src="~/img/@item.Image" alt="image" height="80" width="80" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>

                                    <td>
                                        @foreach (var item1 in Model.RoomTypeList)
                                        {
                                            if (item1.Id == item.RoomTypeId)
                                            {
                                                @item1.Title
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (item.Active == true)
                                        {
                                            <div>Actice</div>
                                        }
                                        else
                                        {
                                            <div>Maintenance</div>
                                        }
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <form method="post" asp-page-handler="UpdateActive" asp-route-id="@item.Id" asp-route-checkout="@Model.CheckOut" onclick="return confirm('Are you sure you want to Update Active this?')" class="ml-0">
                                                    <div class="row">
                                                        <div>
                                                            <button id="Maintenance" type="submit" title="Maintenance" data-target="#exampleModal" data-toggle="modal">
                                                                <i class="material-icons">&#xe000;</i>
                                                            </button>
                                                            <input type="hidden" asp-for="@item.Id" />

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="">
                                                <a asp-page="./Edit" id="Edit" asp-route-id="@item.Id" class="" title="Settings" data-toggle="tooltip"><i id="icon" class="material-icons">&#xE8B8;</i></a>
                                            </div>
                                            @*    <div class="col-sm-2">
            <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id" class="ml-0" onclick="return confirm('Are you sure you want to Delete this?')">
                <div class="row">
                    <div>
                        <button id="Delete" class="" type="submit" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></button>
                    </div>
                </div>
            </form>
        </div>*@
                                        </div>
                                    </td>
                                </tr>
                            }
                        <tbody>
                    </table>
                }
                else
                {
                    <h1 class="text-danger"> No Result Value!</h1>
                }
            </div>
        </div>
    </div>


    <!-- Modal Add -->
    <div id="myModal" class="modal1">
        <div class="modal-content1">
            <span class="close">&times;</span>

            <form method="post" asp-page-handler="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Room.Id" class="control-label"></label>
                    <input asp-for="Room.Id" class="form-control" />
                    <span asp-validation-for="Room.Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Room.RoomTypeId" class="control-label"></label>
                    <select asp-for="Room.RoomTypeId" class="form-control">
                        @foreach (var item in Model.RoomTypeList)
                        {
                            <option value="@item.Id"> @item.Title</option>
                        }
                    </select>
                    <span asp-validation-for="Room.RoomTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Room.Title" class="control-label"></label>
                    <input asp-for="Room.Title" class="form-control" />
                    <span asp-validation-for="Room.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Room.Description" class="control-label"></label>
                    <input asp-for="Room.Description" class="form-control" />
                    <span asp-validation-for="Room.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Room.Amount" class="control-label"></label>
                    <input asp-for="Room.Amount" class="form-control" />
                    <span asp-validation-for="Room.Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>


    </div><!-- Modal Delete -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Foo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" asp-page-handler="Delete">

                    <div class="modal-body">
                        xoá chứ ?
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    window.onload = function() {
        if ('@TempData["Message"]' != "") {
            alert('@TempData["Message"]');
        }
    };
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

